.App {
  text-align: center;
  font-family: Helvetica;


}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.title-bar {
  background-color:antiquewhite;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-bar {
  background-color:antiquewhite;
    position: absolute;
    width: 160px;
    /* height: 418px */
    height: 630px;

}

.paper {
  padding: "10px";
  display: "flex";
  flex-direction: "column";
  justify-content: center;
  width: 100px
}

.map-container {
  position: relative;
}
/* style={{ height: '85vh', width: '100%' }} */
.marker-container {
  position: "absolute";
  transform:'translate(-50%, -50%)';
}

.mini-nav {
  border:1px solid lightgray;
  margin: 15px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow:0 5px 5px rgba(0,0,0,0.5);
}


/* for spacing under elements  */
#spaceDefault {
  margin-bottom: 20px;
}
.spaceDefault {
  margin-bottom: 20px;
}


.welcome-page {
  padding: 17.5em 12em 12em;
  background-color:antiquewhite;
}

