.App {
  text-align: center;
  font-family: Helvetica;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  font-style: oblique
}

.title-bar {
  background-color:antiquewhite;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-bar {
  background-color:antiquewhite;
    position: absolute;
    width: 400px;
    /* height: 418px */
    height: "100%";
    border:2px solid brown;

}

.paper {
  padding: "10px";
  display: "flex";
  flex-direction: "column";
  justify-content: center;
  width: 100px
}

.map-container {
  position: relative;
}
/* style={{ height: '85vh', width: '100%' }} */
.marker-container {
  position: "absolute";
  transform:'translate(-50%, -50%)';
}

.mini-nav {
  border:1px solid brown;
  margin: 15px;
  border-radius: 5px;
  overflow: hidden;
   box-shadow:0 5px 5px rgba(0,0,0,0.5);
}


/* for spacing under elements  */
#spaceDefault {
  margin-bottom: 20px;
}
.spaceDefault {
  margin-bottom: 20px;
}


.welcome-page {
  padding: 17.5em 12em 12em;
  background-color:antiquewhite;
}

.review {
  border:1px solid brown;
  /* margin: 15px;
  border-radius: 5px; */
  /* overflow: hidden;
  box-shadow:0 5px 5px rgba(0,0,0,0.5); */
}

.form {
  height: "100%";
  border:1px solid brown;
  border-radius: 5px;
  overflow: hidden;
   box-shadow:0 5px 5px rgba(0,0,0,0.5);
}

.review-heading {
  border-bottom: 2px solid brown;
}
.user-reviews {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;

}

.profile-review {
  border:1px solid brown;
  background-color:antiquewhite;
  margin: 1rem;
  /* border-radius: 5px; */
  width:400px;
  margin:20px;
  border-radius: 20px;
  /* overflow: hidden;
  box-shadow:0 5px 5px rgba(0,0,0,0.5) */
  margin-top: 175px
}

.login-form {
  width: 100%;
  background-color:antiquewhite;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  padding: 17.5em 12em 12em;
}

.create-account-form {
  width: 100%;
  background-color: antiquewhite;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  padding: 17.5em 12em 12em;
}


.topSpaceDefault {
  margin-top: 35px
}
#topSpaceDefault {
  margin-top: 35px
}

.review-edit-form {
  width: 100%;
  background-color: rgb(129, 186, 186);
  height: 100%;
  text-align: center;
  border-radius: 5px;
}


.profile-pic {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  /* object-fit: cover; */
}

.profile-editor {
  width: 100%;
  background-color: rgb(129, 186, 186);
  height: 100%;
  text-align: center;
  border-radius: 5px;
}

.review-pic {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.comment-section {
  border:4px solid brown;
}
